<div class="sidebar">

  <div class="logo">
    <h2>KeyShell</h2>
    <p>Payment Platform</p>
  </div>

  <ul>

    <li routerLink="/dashboard" routerLinkActive="active">
      <span class="icon">📊</span>
      <span class="label">Dashboard</span>
    </li>

    <li routerLink="/users" routerLinkActive="active">
      <span class="icon">👥</span>
      <span class="label">Users</span>
    </li>

    <li routerLink="/payments" routerLinkActive="active">
      <span class="icon">💳</span>
      <span class="label">Payments</span>
    </li>

    <li>
      <span class="icon">📈</span>
      <span class="label">Reports</span>
    </li>

    <li>
      <span class="icon">⚙️</span>
      <span class="label">Settings</span>
    </li>

  </ul>

</div>